#Arquivo temporários do Python
__pycache__/
*.pyc
*.Pyo
*.pyd

#Ambientes virtuais 
venv/
.venv/
env/

#Configurações de editores 
.vscode/
.idea/

#Arquivos do sistema operacional
.DS_Store
Thumbs.db

